.howitworks-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.steps-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 50px; /* spacing between items */
  justify-items: center; /* center each item horizontally */
  align-items: center;    /* center each item vertically */
  padding: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.steps-container img{
  width: 15%;
  height: auto;
  max-width: 300px; /* Set a max width for the images */
  border-radius: 10px; /* Optional: add some border radius for aesthetics */
  padding-right: 20px
}


.step-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.step1{
  font-size: 20px
}